@import 'libs/swiper.scss';
@import 'base/mixins';


* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1720px;
    width: 92vw;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/bg';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/about';
@import 'blocks/rewiew';
@import 'blocks/team';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'base/media';


