.promo {
    top: -90px;
    height: calc(100vh - 90px);
    z-index: 2;
    img {
        position: absolute;
        z-index: -1;
        top: -90px;
        height: calc(100% + 90px);
        width: 100%;
        object-fit: cover;
    }
    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 700px;
    }
    &__title {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
    }
    .btn {
        width: 437px;
        height: 60px;
        font-size: 22px;
        margin-top: 57px;
    }
}