@media (max-width: 1600px) {
    .header {
        &__link {
            font-size: 14px;
            margin-right: 20px;
        } 
        &__logo {
            &-text {
                font-size: 28px;
            }
            img {
                height: 70%;
            }
        }
        &__contacts {
            a {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    .about {
        &__descr {
            margin-top: 80px;
            font-weight: 400;
            font-size: 26px;
            line-height: 32px;
        }
    }
    .rewiew {
        &__item {
            &-content {
                padding: 15px;
            }
            &-value {
                margin-top: 5px;
            }
        }
    }
    .services {
        &__item {
            &-descr, &-elem {
                padding: 0 20px;
            }
            &-elem {
                padding-bottom: 20px; 
            }
            &-title {
                font-size: 26px;
                line-height: 30px;
            }
            &-text {
                font-size: 18px;
                line-height: 22px;
            }
            &-price {
                font-size: 26px;
                line-height: 26px;
            }
            .btn {
                font-size: 16px;
            }
        }
    }
    .team {
        &__name {
            font-size: 26px;
            line-height: 30px;
        }
        &__post {
            font-size: 18px;
            line-height: 22px;
        }
        &__descr {
            padding: 20px;
        }
    }
    .contacts {
        &__feedback {
            &-form {
                padding: 30px 40px;
            }
        }
        &__link {
            font-size: 20px;
            margin-top: 10px;
        }
        &__social {
            &-wrapper {
                margin-top: 10px;
            }
        }
    }
    .footer {
        &__logo {
            margin-right: 60px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__link {
            margin-right: 15px;
            font-weight: 500;
        } 
        &__logo {
            &-text {
                font-size: 20px;
            }
            img {
                height: 60%;
            }
        }
        &__contacts {
            margin-right: 10px;
            a {
                font-weight: 500;
            }
        }
        .btn {
            font-size: 12px;
            padding: 10px 30px;
        }
    }
    .title {
        line-height: 45px;
    }
    .services {
        &__wrapper {
            grid-template-columns: repeat(2, minmax(310px, 47%));
        }
    }
    .promo {
        &__text {
            max-width: 500px;
        }
        .btn {
            font-size: 16px;
        }
    }
    .about {
        &__descr {
            font-size: 20px;
            width: 550px;
        }
    }
    .team {
        &__wrapper {
            grid-template-columns: repeat(2, minmax(310px, 47%));
        }
    }
    .contacts {
        &__feedback {
            width: 50vw;
            &-title {
                max-width: 308px;
                font-size: 30px;
            }
            &-form {
                grid-template-columns: 100%;
            }
            &-textarea {
                grid-column: unset;
                grid-row: 3/5;
            }
            &-input {
                &_email {
                    grid-column: unset;
                    width: auto;
                }
            }
            &-btn {
                grid-column: unset;
                width: auto;
                font-size: 14px;
                width: 100%;
            }
            label {
                top: -10px;
                font-size: 16px;
            }
        }
    }
    .footer {
        &__links {
            font-size: 18px;
            line-height: 22px;
        }
        &__text {
            width: 400px;
            font-size: 18px;
            line-height: 22px;
        }
        &__form {
            grid-template: 50px / 400px;
            row-gap: 20px;
            justify-content: end;
            label {
                top: -10px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        width: 100vw;
        overflow-x: hidden;
        position: fixed;
        background-color: $bg_color;
        height: 50px;
        padding: 15px 20px;
        box-shadow: none;
        .hamburger {
            display: block;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 23px;
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: $main_color;
                margin-bottom: 7px;
                transition: .5s all;
                &:nth-child(2) {
                    position: relative;
                    right: 0;
                    top: 0;
                }
            }
            &__active {
                span {
                    background-color: #fff;
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(8px) rotate(-45deg)
                    }
                    &:nth-child(2) {
                        position: relative;
                        right: -200%;
                        top: 9px;
                        // display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(6px) rotate(45deg)
                    }
                }
            }
        }
        &__info {
            display: none;
        }
        &__links {
            display: none;
        }
        &__logo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            height: 40px;
            display: flex;
            align-items: center;
            &-text {
                font-size: 26px;
            }
        }
    }

    .menu {
        z-index: 20;
        width: 100vw;
        height: calc(100vh - 50px);
        position: fixed;
        top: 50px;
        background-color: $bg_color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: -100%;
        transition: all .3s;
        &__links {
            margin-top: 20px;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;
            line-height: 26px;
            list-style-type: none;
        }
        .btn {
            margin: 0 auto;
            padding: 15px 85px;
            font-size: 16px;
        }
        &__social {
            margin: 0 auto;
            width: 60%;
            max-width: 400px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a::after {
                display: none;
            }
        }
        &__active {
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .title {
        line-height: 40px;
    }
    .promo {
        height: 100vh;
        &__text {
            max-width: 420px;
        }
        .bg-img {
            top: -50px;
            height: calc(100% + 50px);
        }
        .btn {
            font-size: 14px;
            padding: 15px 60px;
        }
    }
    .contacts {
        &__link {
            font-size: 16px;
        }
        &__address-title, &__phone-title, &__social-title, &__feedback-title {
            font-size: 25px;
        }
    }
    .footer {
        &__logo {
            font-size: 30px;
        }
        &__sign {
            margin: 0 auto;
            max-width: 500px;
        }
        &__links {
            margin-top: 10px;
            font-size: 16px;
            line-height: 19px;
        }
        &__text {
            width: 300px;
        }
        &__form {
            grid-template: 50px / 100%;
        }
        .btn {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .btn {
        &:hover {
            border: 2px solid $main_color;
            background-color: $main_color;
        }
    }
    .services {
        &__item {
            &-title, &-price {
                font-size: 20px;
            }
            &-text, .btn {
                font-size: 14px;
            }
            .btn {
                margin-top: 10px;
            }
        }
        &__wrapper {
            grid-template-columns: minmax(310px, 70%);
        }
    }
    .about {
        &__descr {
            margin-top: 10px;
            font-size: 16px;
        }
    }
    .team {
        &__wrapper {
            grid-template-columns: minmax(310px, 70%);
        }
    }
    .contacts {
        &__wrapper {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        &__feedback {
            margin-top: 40px;
            align-self: center;
            max-width: 500px;
            width: 100%;
        }
    }
    .footer {
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7vw;
            margin-right: 0;
            img {
                display: block;
                height: 100%;
            }
            a {
                font-size: 26px;
                line-height: 20px;
                font-size: 6vw;
            }
        }
        &__wrapper {
            flex-direction: column;
        }
        &__links {
            text-align: center;
            margin-top: 30px;
        }
        &__info {
            flex-direction: column;
            align-items: center;
        }
        &__sign {
            margin-top: 40px;
        }
        &__text {
            width: 100%;
            text-align: center;
        }
        &__form {
            justify-content: center;
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 90vw;
    }
    .header {
        &__logo {
            height: 20px;
            img {
                height: 100%;
            }
            &-text {
                font-size: 18px;
            }
        }
    }
    .title {
        font-weight: 600;
        line-height: 36px;
    }
    .promo {
        .container {
            align-items: start;
        }
        .title {
            width: 80%;
            margin-top: 110px;
        }
        .btn {
            margin-top: 20px;
            font-size: 16px;
            line-height: 19px;
            padding: 15px 25px;
        }
    }
    .about {
        background: url(../img/bg/about/about-bg_mobile.jpg) center (center/cover) no-repeat;
        &__descr {
            width: 90%;
            margin-top: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        &__text {
            padding-top: 15px;
            padding-bottom: 100px;
        }
    }
    .slick {
        &-slider {
            display: block;
        }
    }
    .contacts {
        &__link {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
        &__address-title, &__phone-title, &__social-title, &__feedback-title {
            font-weight: 600;       
            font-size: 22px;
            line-height: 26px;
        }
        &__feedback {
            margin-top: 40px;
            &-form {
                padding: 20px;
            }
            label {
                font-size: 12px;
                top: -7px;
                padding: 0px 10px;
            }
        }
    }
    .footer {
        &__text {
            font-size: 15px;
            line-height: 18px;  
        }
    }
}