.about {
    background: url(../img/bg/about/about-bg.jpg) center (center/cover) no-repeat;
    &__text {
        padding-top: 45px;
    }
    &__descr {
        margin-top: 50px;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;  
        width: 800px;
        padding-bottom: 10%;
    }
}