.brings {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #E3EEED 50%, $main_color 50%);
    &__wrapper {
        margin-top: 29px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-content: center;
    }
    &__column {
        &:last-child {
            padding-left: 115px;
        }
    }
    &__text {
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
    }
    &__list {
        margin-top: 9px;
        li {
            margin-bottom: 18px;
            list-style-type: none;
            font-weight: 400;
            font-size: 32px;
            line-height: 42px;
            color: #43806C;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
        }
        li.active {
            font-weight: 700;
            color: $main_color;
            &::after {
                content: url(../icons/arrow.svg);
                padding-left: 15px;
            }
        }
    }
}