.btn {
    height: 40px;
    padding: 0 45px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: $main_color;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: rgba(153, 3, 245, 0.85);
        transform: scale(1.04);
        box-shadow: 0 0 10px $main_color;
    }
}