.btn {
    height: 40px;
    padding: 0 45px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: $main_color;
    cursor: pointer;
    transition: all 0.3s;
}