.btn {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: $main_color;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid $main_color;
    &:hover {
        background-color: #BB4DFF;
        border: 2px solid #BB4DFF;
    }
    &:active {
        background-color: rgba(#000000, 0);
        border: 2px solid $main_color;
    }
}