.btn {
    padding: 0 15px;
    height: 40px;
    background: #43806C;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    &_transparent {
        position: relative;
        width: 107px;
        background: rgba(0, 0, 0, 0);
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        border: none;
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background: $main_color;
            bottom: 1px;
            left: 0;
        }
    }
}