.claims {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__descr {
        padding-left: 88зx;
        padding-top: 68px;
    }
    &__title, &__text, &__btn {
        margin-top: 27px;
    }
    &__phone {
        justify-self: center;
    }
    &__btn {
        &::after {
            bottom: -13px;
        }
    }
    &__subtitle {
        font-weight: 700;
    }
    &__text {
        padding-right: 21px;
    }
}