.coverage {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 88px;
        row-gap: 60px;
    }
    &__img  {
        align-self: center;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__title {
        margin-top: 20px; 
    }
    &__text {
        margin-top: 34px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #757575;
    }
    &__percents {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(auto-fit, 262px);
        justify-content: space-around;
        row-gap: 30px;
        column-gap: 50px;
        &-value {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 60px;
            line-height: 78px;
            color: #F0A446;
        }
        &-text {
            margin-top: 10px;
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
        }
    }
}