footer li, footer div {
    color: #fff;
}
.footer {
    background-color: $main_color;
    padding: 100px 0 50px 0;
    &__wrapper {
        padding-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    &__logo {
        transition: all 0.6s;
        img {
            transition: all 0.6s;
        }
        &:hover {
            transform: scale(1.1) translateX(5%) translateY(2%);
            img {
                filter: drop-shadow(-2px 2px 20px #fff);
            }
        }
    }
    &__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        li {
            list-style-type: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            margin-top: 15px;
            cursor: pointer;
        }
    }
    &__list {
        &-title {
            font-weight: 700;
            font-size: 13px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    &__sign {
        padding-left: 245px;
        &-title {
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            text-transform: uppercase;
        }
        &-text {
            margin-top: 19px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
        form {
            margin-top: 16px;
            display: grid;
            grid-template-columns: auto 53px;
        }
        input {
            padding: 0 20px;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #fff;
            color: #fff;
        }
        button {
            border: none;
        }
    }
    &__social {
        margin-top: 35px;
        display: flex;
        justify-content: start;
        align-items: center;
        &-img {
            margin-right: 25px;
        }
    }
    &__divider {
        background-color: #fff;
    }
    &__policy {
        margin-top: 69px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        a {
            margin-left: 15px;
            color: #fff;
        }
    }
    &__info {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
    &__privacy {
        span {
            position: relative;
            color: #fff;
            margin-right: 21px;
            &::after {
                content: '';
                position: absolute;
                right: -11px;
                height: 24px;
                width: 1px;
                background-color: #fff;
            }
        }
    }
}