.footer {
    padding: 50px 0 60px 0;
    background-color: $bg_color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        margin-right: 130px;
        font-weight: 700;
        font-size: 42px;
        span {
            color: $main_color;
        }
        img {
            display: none;
        }
        a::after {
            display: none;
        }
    }
    &__links {
        list-style-type: none;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__text {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        width: 610px;
    }
    &__form {
        margin-top: 34px;
        display: grid;
        grid-template: 50px / 404px 249px;
        grid-auto-rows: 50px;
        column-gap: 8px;
    }
    &__input {
        position: relative;
    }
    input {
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0);
        border: 1px solid #FFFFFF;
        padding: 0 15px;
        font-size: 16px;
    }
    label {
        position: absolute;
        top: -13px;
        left: 10px;
        padding: 0 15px;
        background-color: $bg_color;
        font-weight: 500;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.7);
    }
    .btn {
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 20px;    
        line-height: 24px;
    }
}