.promo {
    height: 100vh;
    z-index: 2;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .bg-img {
        height: 100%;
    }
    &__text {
        max-width: 700px;
    }
    .btn {
        padding: 0 80px;
        height: 60px;
        font-size: 22px;
        margin-top: 57px;
    }
}
.menu {
    display: none;
}