.team {
    padding-bottom: 100px;
    background-color: $bg_color;
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, minmax(310px, 30%));
        gap: 50px;
        justify-content: space-around;
    }
    &__item {
        border: 1px solid #FFFFFF;
        border-radius: 0 0 5px 5px;
    }
    &__descr {
        padding: 30px 40px 35px 40px;
    }
    &__name {
        font-weight: 600;
        font-size: 35px;
        line-height: 42px;
    }
    &__post {
        margin-top: 15px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}