.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $main_color;
    font-family: 'Roboto';
}
.subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #43806C;
    letter-spacing: 0.05px;
    text-transform: uppercase;
}